<%= render 'user_info', user: current_user, newbook: @newbook %>

<!-- 自分のインフォ｜ユーザーの一覧 -->

<h2>Uses</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @users.each do |user| %>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user) %></td>
    <% end %>
    </tr>
</tbody>
