<%= render 'user_info', user: @user,newbook: @newbook %>

<!-- ログイン後の最初のページ:idのインフォ｜:idの投稿一覧 -->

<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @books.each do |book| %>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></th>
    <% end %>
    </tr>
  </tbody>
</table>