<!-- 自分インフォ｜ブック一覧 -->

<h1>Books</h1>

<h4>Title</h4>
<h4>Opinion</h4>

<% @books.each do |book| %>
<div>
  <img src="assets/images/default_image.jpg" alt="デフォルトイメージ">
  <p><%= link_to book.user.name, user_path(book.user) %></p> <!-- リンク先修正未 -->
  <p><%= link_to book.title, book_path(book) %></p>
  <p><%= book.body %></p>
</div>
<% end %>
