<h1>Books</h1>

<h4>Title</h4>
<h4>Opinion</h4>

<% @books.each do |book| %>
<div>
  <img src="assets/images/default_image/jpg" alt="デフォルトイメージ">
  <p><%= book.title %></p>
  <p><%= book.body %></p>
</div>
<% end %>
