<h1>Book detil</h1>

<div>
  <img src="assets/images/default_image/jpg" alt="デフォルトイメージ">
  <p><%= @book.title %></p>
  <p><%= @book.body %></p>
</div>


 <%= link_to "Edit", edit_book_path %>
 <%= link_to "Destroy", books_path %>